*~
_*
*.o
*.d
*.i
*.asm
*.sym
*.img
build/*
build_tests/*
build_host/*
tools/mkfs/mkfs
tools/mkfs/fsck.xv6fs
utests-tmp/*

# auto generated:
kernel/arch/riscv/asm/initcode.h
.gdbinit

# 3rd party tools
.obsidian
